---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import CallToAction from '../components/CallToAction.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Objetivos</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:book-open-page-variant" title="Grupos de Estudos">
          Mobilizar um grupo de alunos para realização de atividades relacionadas à programação.
        </Feature>
        <Feature icon="mdi:theme-light-dark" title="Site do Projeto">
          Manter um site atualizado com informações sobre o projeto.
        </Feature>
        <Feature icon="mdi:lighthouse" title="Desafios">
          Desafiar os alunos em testar seus conhecimentos e habilidades.
        </Feature>
        <Feature icon="mdi:discord" title="Comunidade Ativa">
          Criar uma comunidade ativa para troca de conhecimento e experiências.
        </Feature>
        <Feature icon="mdi:cog" title="Laboratórios de Informática">
          Manter organizado e em condições de uso os laboratórios de informática utilizados para atividades práticas
        </Feature>
        <Feature icon="mdi:award" title="Certificações">
          Certificar alunos participantes para computo de Atividades Complementares de Curso.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Lorem Ipsum</h2>
    <p class="text-2xl">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis suscipit sed fugit, totam porro at placeat assumenda dolore ratione optio amet eaque fugiat nam nostrum repellat exercitationem saepe accusantium veniam.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>Lorem Ipsum</h2>
    <p class="text-2xl">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem excepturi, laborum veritatis sapiente ad molestias? Necessitatibus possimus, placeat repellendus vel obcaecati aliquam dignissimos accusantium ad fugiat cumque, voluptatem natus non.
    </p>
  </ContentMedia>
  <section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Dados</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-3">
        <Counter count="7ª" title="Edição" sub="Do Projeto" />
        <Counter count="130" title="Alunos" sub="Beneficiados" />
        <Counter count="+42" title="Tutorias" sub="Disponíveis" />
      </div>
    </div>
  </section>
  <CallToAction />
</DefaultLayout>
