---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'A Hora do Código',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        variant: 'secondary',
        text: 'Saiba Mais',
        href: '#projeto',
        icon: 'tabler:chevron-down',
      },
    ]}
    image={{ src: '~/assets/images/hero.jpg', alt: 'Hero Image' }}
    isBoxed
  >
    <Fragment slot="title">
      <span class="hidden sm:inline"> Hora do Código: </span> Não Entre em Pânico, Comece a <span
        class="text-accent dark:text-white highlight"
      >
        Programar</span
      >!
    </Fragment>

    <Fragment slot="subtitle">
      Projeto do
      <span class="hidden xl:inline">Instituto Federal Farroupilha Campus Frederico Westphalen</span>
      <span class="inline xl:hidden">IFFar-FW</span>
      que tem como objetivo incentivar a prática de programação e a resolução de problemas.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->
  <!-- <Note /> -->

  <!-- Features Widget *************** -->
  <Features
    id="projeto"
    tagline="Projeto de Ensino"
    title="A Hora do Código"
    subtitle="Nossa missão é de incentivar a prática de programação e a resolução de problemas. Para isso, buscamos promover ações como as listadas abaixo."
    items={[
      {
        title: 'Monitorias de Programação',
        description: 'Mobilizar um grupo de alunos para realização de monitorias de programação.',
        icon: 'tabler:school',
      },
      {
        title: 'Plataforma',
        description:
          'Disponibilizar um site atualizado com informações sobre o projeto e materiais de apoio para estudo.',
        icon: 'tabler:world-www',
      },
      {
        title: 'Desafios e Competições',
        description: 'Desafiar os alunos em testar seus conhecimentos e habilidades.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Oficinas e Workshops',
        description: 'Promover oficinas e workshops para a comunidade escola durante o ano letivo.',
        icon: 'tabler:code',
      },
      {
        title: 'Laboratórios de Informática',
        description: 'Manter organizado e em condições de uso os laboratórios utilizados para atividades práticas.',
        icon: 'tabler:device-desktop',
      },
      {
        title: 'Certificações',
        description: 'Certificar alunos participantes para computo de Atividades Complementares de Curso.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Content Widget **************** -->
  <Content
    isReversed
    id="monitorias"
    tagline="Monitorias"
    title="Aprenda com outros Alunos"
    items={[
      {
        title: 'Tirar dúvidas',
        description: 'Você pode tirar dúvidas sobre conteúdos e linguagens de programação.',
      },
      {
        title: 'Resolver Exercícios',
        description: 'Você recebe suporte para resolução dos exercícios propostos pelos professores.',
      },
      {
        title: 'Trabalhar em Projetos',
        description: 'Você pode trabalhar em projetos pessoais ou de disciplinas com o apoio de outros alunos.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1537111261224-6fa49cecda2f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Laptop Coding Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Monitorias de Programação</h3>
      As monitorias de programação são encontros semanais realizados por alunos bolsistas e voluntários que desejam compartilhar
      seus conhecimentos com outros alunos.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    isAfterContent
    id="desafios"
    items={[
      {
        title: 'Desafios de Laços de Repetição',
        description: 'Problemas que envolvem a utilização de estruturas de repetição (for, while, do-while).',
      },
      {
        title: 'Desafios de Estruturas Condicionais',
        description: 'Problemas que envolvem a utilização de estruturas condicionais (if, else, switch).',
      },
      {
        title: 'Desafios de Vetores e Matrizes',
        description: 'Problemas que envolvem a utilização de vetores e matrizes.',
      },
      {
        title: 'Desafios de Estruturas de Dados',
        description: 'Problemas que envolvem a utilização de estruturas de dados (pilhas, filas, listas).',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1687603863378-0761c86232bc?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Coding Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Desafios de Programação</h3>
      Exercite suas habilidades de programação resolvendo desafios propostos na plataforma do projeto.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->
  <Steps
    id="oficinas"
    title="Conheça Novas Tecnologias com Nossas Oficinas de Programação"
    items={[
      {
        title: '1° Passo: <span class="font-medium">Inscrição</span>',
        description:
          'Se atente ao calendário de oficinas e faça sua inscrição. Fique ligado nas notícias do projeto para não perder nenhuma oportunidade.',
        icon: 'tabler:user-check',
      },
      {
        title: '2° Passo: <span class="font-medium">Participação</span>',
        description:
          'Participe das oficinas no horário e local marcado. A presença é obrigatória para obtenção de certificado.',
        icon: 'tabler:calendar-event',
      },
      {
        title: '3° Passo: <span class="font-medium">Por em Prática</span>',
        description:
          'Ponha em prática o que aprendeu! não esqueça de compartilhar seu resultado no GitHub. Lembre-se: A prática leva a perfeição. ツ',
        icon: 'tabler:code',
      },
      {
        title: 'Certificado!',
        icon: 'tabler:award',
      },
    ]}
    image={{
      src: 'images/image-technologies.png',
      alt: 'Technologies Image',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->
  <BlogLatestPosts
    title="Encontre muito mais conteúdos em nosso Blog"
    information={`Acesse o blog do projeto a Hora do Código para encontrar mais conteúdos sobre programação, dicas, tutoriais e muito mais.
                `}
  />

  <!-- FAQs Widget ******************* -->
  <FAQs
    id="faqs"
    title="Perguntas Frequentes (FAQs)"
    subtitle="Aqui estão algumas perguntas frequentes sobre o projeto."
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'O que é a Hora do Código?',
        description:
          'É um projeto de ensino do IFFar-FW que está na sua 8a edição e que tem como objetivo incentivar a prática de programação e a resolução de problemas.',
      },
      {
        title: 'Quem pode participar?',
        description:
          'Qualquer aluno do IFFar-FW pode participar das atividades do projeto, tanto do ensino médio, quanto da graduação. As monitorias são abertas para toda a comunidade escolar.',
      },
      {
        title: 'Como faço para participar das monitorias?',
        description:
          'As monitorias são realizadas semanalmente nos laboratórios de informática. Fique atento ao calendário de monitorias',
      },
      {
        title: 'Como faço para participar das oficinas?',
        description:
          'As oficinas são divulgadas no site do projeto e nas redes sociais. Fique atento às notícias e novidades.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Acessar',
        href: 'https://github.com/dbreskovit/A-Hora-do-Codigo',
        target: '_blank',
        icon: 'tabler:brand-github',
      },
    ]}
  >
    <Fragment slot="title">
      Quer saber mais sobre o nosso site? <br class="hidden md:inline" />Acesse o repositório no GitHub.
    </Fragment>

    <Fragment slot="subtitle">
      O site é um projeto de código aberto. Portanto, você pode contribuir com sugestões, correções e melhorias.
    </Fragment>
  </CallToAction>
</Layout>
