---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>

  <section class="py-8">
    <div class="container">
      <p>
        Distribuição sobre MIT License. &copy; {currentYear} - IFFAR-FW.
      </p>
    </div>
  </section>
</footer>
