---
import { SITE } from '~/utils/config';
import image from '~/assets/favicons/favicon.svg';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img src={image.src} alt="logo" class="h-6 w-6 inline-block mb-2" />
  {SITE?.name}
</span>
